<div class="bg-gradient">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-6">

        <div class="filter">
          <div class="index-title">
            Filters
          </div>
          <br>
          <%= form_tag(filtered_groups_path, method: :get) do %>
          <%= label_tag(:genre, "Genre") %>
          <%= select_tag("genre", options_for_select(%w(All Rock Jazz Punk Acoustic Indie Hip-hop Classical Funk Reggae Blues Metal Other))) %>
          <%= label_tag(:address, "Where") %>
          <%= select_tag("city", options_for_select(%w(All Copenhagen Paris Hong\ Kong))) %>
          <%= submit_tag 'Search' %>
          <% end %>
        </div>

        <div class="index-title">
          Select your jam <u> <%= "in #{params[:query]}" if params[:query] %> </u>
        </div>
        <% @groups.each do |group| %>
        <%= render 'group_card2', group: group %>
        <% end %>
      </div>

    </div>
  </div>
</div>


