<%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>


<nav class="navbar navbar-light bg-faded  ">
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
</nav>


<!-- Search form -->
<form action="" class="navbar-wagon-search">
  <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
  <button type="submit" class="navbar-wagon-search-btn">
    <i class="fa fa-search"></i>
  </button>
</form>


<!-- Button (call-to-action) -->
<%= link_to t(".top_call_to_action", default: "Login"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %>

<!-- Login text link -->
<%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

<!-- navbar copied in -->

<nav class="navbar navbar-light bg-faded  ">


  <!-- from user / show.html.erb -->
  <% @group.users.each do |member| %>
  <div class="member-tag">
    <%= image_tag member.facebook_picture_url || 'http://lorempixel.com/70/70/people', class: "avatar-large" %>
    <p> <%= "#{member.name || member.first_name}" %> </p>
  </div>
  <% end %>
</div>
</div>



<div class="band-members">
  <div class="section-title">
    <p>The band</p>
    <hr>
  </div>
  <div class="member-list">
    <div class="member-tag">
      <%= image_tag @users.admin.facebook_picture_url || 'http://lorempixel.com/70/70/people', class: "avatar-large" %>
      <p> <%= "#{@group.admin.name || @group.admin.first_name}" %> </p>
    </div>

    <div class="studio-summary">
      <div class="section-title">
        <p>The studio</p>
        <hr>
      </div>
      <div class="studio-content">''
        <p> Address: <%= @group.studio.address %></p>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-8">
        <div class="group-summary">
          <% if @facebook_picture_url? %>
          <%= cl_image_tag @facebook_picture_url.path, class: 'polaroid-image' %>
          <% end %>
          <p> <%= "User description: #{@users.description}" %> </p>
        </div>
      </div>



      <div class="col-xs-4">
        <h1>Join Group</h1>
        <%= simple_form_for [ @group, @group_user ] do |f| %>
        <%= f.input :instrument_id, collection: Instrument.all, prompt: "Select your instrument" %>
        <%= f.submit "Join group", class: "btn btn-primary btn-submit" %>
        <% end %>

        <div class="bg-group-show">
          <div class="container">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <div class="grey-bkg-box">
                  <div class="group-title text-center">
                    <%= @users.name %>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- profile css. -->

    .grey-bkg-box {
    background-color: rgba(255,255,255,0.7);
    padding: 20px 20px;
    margin-top: 50px;

  }
  .group-title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 3px;
}
.group-summary{
display: flex;
margin-left: -40px;
margin-top: 20px;
}
.polaroid-image{
height: 300px;
width: 250px;
object-fit: cover;
background: white;
display: inline;
float: left;
margin: 0 15px 30px;
padding: 10px 10px 25px;
text-align: center;
text-decoration: none;
-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
box-shadow: 0 4px 6px rgba(0,0,0,.3);
-webkit-transform: rotate(-4deg);
-moz-transform: rotate(-4deg);
transform: rotate(-4deg);
}
.band-members{
width: 70%;
margin-bottom: 20px;
}
.section-title {
font-size: 18px;
text-transform: uppercase;

hr {
margin-top: 10px;
}
}
.member-list{
display: flex;
}
.member-tag{
text-align: center;
margin-right: 15px;
}
.studio-info{
width: 70%;
}

