<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'bg2.png' %>)";>

  <div class="banner-content">
    <h1>Come play with BandOn</h1>
    <h2>Find your next Jam Session  </h2>

    <div class="section group">
    <%= form_tag(filtered_groups_path, method: :get) do %>

     <div class="col span_1_of_5">
       <div class="form-group">
        <label for="city">City:</label>
        <select class="form-control" id="city" name="city">
          <option value="">All</option>
          <option value="Copenhagen">Copenhagen</option>
          <option value="Paris">Paris</option>
          <option value="Hong Kong">Hong Kong</option>
        </select>
      </div>
    </div>

    <div class="col span_2_of_5">
      <label for="sel1">From:</label>
      <div class="form-group">
        <div class="input-group date">
          <input type="text" class="form-control" name="start-date">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>

    </div>
    <div class="col span_3_of_5">
      <label for="sel1">To:</label>
        <div class="input-group date">
          <input type="text" class="form-control" name="end-date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
    </div>

    <div class="col span_4_of_5">
     <div class="form-group">
       <label for="sel1">Genre:</label>
       <select class="form-control" id="sel1" name="genre">
        <option value="">All</option>
        <option>Rock</option>
        <option>Jazz</option>
        <option>Indie</option>
      </select>
    </div>
  </div>

  <div class="col span_5_of_5">
   <input type="submit" class="btn btn-primary btn-lg-round"></input>
   <% end %>
 </div>

</div>

<div>

</div>
</div>
</div>

<div class="section-city">
  <hr class="style-one">
  <div class="container">
    <div class="row">

     <div class="col-lg-3 col-md-4 col-xs-6 thumb">
       <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(100,100,100,0.6) 50%), url(<%= asset_path 'barcelona.jpg' %>);">
         <div class="card-description">Barcelona
          <h3>Latin Tunes</h3>
          <h4>Find your next Jam!</h4>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(100,100,100,0.6) 50%), url(<%= asset_path 'blog1.jpg' %>);">
        <div class="card-description">The Blog!
          <h3>News etc.</h3>
          <h4>Listen to the grapewine!</h4>
        </div>
        <a class="card-link" href="#" ></a>

      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(100,100,100,0.6) 50%), url(<%= asset_path 'paris.jpg' %>);">
        <div class="card-description">Le Páris!
          <h3>Music lovers</h3>
          <h4>Join the french locals!</h4>
        </div>
        <%= link_to "", groups_path(city: 'paris'), class: 'card-link' %>

      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(100,100,100,0.6) 50%), url(<%= asset_path 'jam1.jpg' %>);">
        <div class="card-description">Studio Jam!
          <h3>Jam with others</h3>
          <h4>Find out how it works</h4>
        </div>
        <a class="card-link" href="#" ></a>

      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(100,100,100,0.6) 50%), url(<%= asset_path 'hong-kong.jpeg' %>); background-position: center;">
        <div class="card-description">Pearl of Orient
          <h3>Hong Kong</h3>
          <h4>Fix of East-West fusion</h4>
        </div>
        <%= link_to "", groups_path(city: 'hong kong'), class: 'card-link' %>

      </div>

    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(100,100,100,0.6) 50%), url(<%= asset_path 'cph.jpg' %>);">
        <div class="card-description">Wonderful Copenhagen
          <h3>New Nordic</h3>
          <h4>Join the nordic scene!</h4>
        </div>
        <%= link_to "", groups_path(city: 'copenhagen'), class: 'card-link' %>
      </div>

    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(100,100,100,0.6) 50%), url(<%= asset_path 'beats1.jpg' %>);">
        <div class="card-description">Studio Recording!
          <h3>Recording artist?</h3>
          <h4>Get more information</h4>
        </div>
        <a class="card-link" href="#" ></a>

      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(100,100,100,0.6) 50%), url(<%= asset_path 'la.jpg' %>);">
        <div class="card-description">City of Angels.
          <h3>Music Capitol</h3>
          <h4>Get your Jam on in LA</h4>
        </div>
        <a class="card-link" href="#" ></a>

      </div>
    </div>
  </div>
</div>

</div>
</div>

