<div class="bg-dashboard">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="dashboard-box" id="title-box">
          <% if @group.photo? %>
          <%= cl_image_tag @group.photo.path, id: 'group-image'%>
          <% end %>
          <div id='group-content'>
            <h1><%= @group.name %> </h1>
            <p> <%= "#{@group.description}" %> </p>
          </div>
          <div id='admin-controls'>
            <% if policy(@group).update? %>
            <%= link_to edit_group_path(@group) do %>
            <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to group_path(@group), method: :delete do %>
            <i class="fa fa-trash"></i>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="dashboard-box">

          <div class="box-title">
            The band
            <hr>
          </div>

          <div class="member-card">
            <%= generate_profile_picture(@group_admin,  ["avatar-large"]) %>
            <div class="member-card-content">
              <div id="admin-tag"> admin </div>
              <h4> <%= "#{@group_admin.name || @group_admin.first_name}" %> </h4>
              <p> On the <%= GroupUser.where(user: @group_admin).where(group: @group)[0].instrument.name || "..."  %></p>
            </div>
          </div>

          <% @group_members.each do |member| %>
          <div class="member-card">
            <%= generate_profile_picture(member, ["avatar-large"]) %>
            <div class="member-card-content">
              <h4> <%= "#{member.name || member.first_name}" %> </h4>
              <p> On the <%= GroupUser.where(user: member).where(group: @group)[0].instrument.name %></p>
            </div>
          </div>
          <% end %>
        </div>

        <div class="dashboard-box">
         <div class="box-title">
           The studio
           <hr>
         </div>

         <div class="studio-description">
           <strong> <%= @group.studio.name %> </strong>
           <br>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star" aria-hidden="true"></i>
           <i class="fa fa-star-half" aria-hidden="true"></i>

           <br>
           <br>
               <%= render 'studios/photo_slides', studio: @group.studio%>
            <br>
            <br>
           <strong> Address </strong>
           <p> <%= @group.studio.address %></p>
         </div>
         <div id="map" style="width: 100%; height: 100px; position: static; margin-top: 20px;"></div>

         <% content_for(:after_js) do %>
         <%= javascript_tag do %>
         $(document).ready(function() {
         var handler = Gmaps.build('Google');
         var styles = <%= render 'studios/mapstyle'%>;
         handler.buildMap({
         provider: {
         styles: styles
       },
       internal: { id: 'map' } }, function() {
       markers = handler.addMarkers(<%= raw @hash.to_json %>);
       handler.bounds.extendWith(markers);
       handler.fitMapToBounds();
       if (markers.length == 0) {
       handler.getMap().setZoom(2);
     } else if (markers.length == 1) {
     handler.getMap().setZoom(14);
   }
 });
});
<% end %>
<% end %>
</div>

</div>

<div class="col-xs-6">

  <div class="row">
    <div class="col-xs-12">
      <div class="dashboard-box">
        <div class="box-title">
          Message board
          <hr>
        </div>
        <div id="messages">
          <% if @group.messages.blank? %>
          <p id="first_message"> Be the first to leave a message </p>
          <% else %>
          <% @group.messages.each do |message| %>
          <%= render 'messages/show', message: message %>
          <% end %>
          <% end %>
        </div>
        <%= render 'messages/form', group: @group, message: @message %>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="dashboard-box">
       <div class="box-title">
        Jam playlist
        <hr>
      </div>

     <% if @group.playlist_name %>
       <iframe src="https://embed.spotify.com/?uri=<%= @group.playlist_path %>" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>

      <% elsif @group.admin == current_user && current_user.spotify_id %>
        <%= link_to "Create a playlist", group_playlist_path(@group)%>
      <% elsif @group.admin == current_user %>
        <%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path %>
      <% else %>
       <p> <%= "Ask the group admin to add a spotify playlist" %></p>
      <% end %>

    </div>
  </div>
</div>
</div>
</div>
</div>
<br>
<br>
</div>

