<div class="container">
  <div class="row">

    <div class="col-xs-6">
      <h1>Group details</h1>
      <h3> <%= @group.name %> </h3>
      <% if @group.photo? %>
        <%= cl_image_tag @group.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
      <p> <%= "Group admin: #{@group.admin.name}" %> </p>
      <p> <%= "Group description: #{@group.description}" %> </p>
      <p> Group members:
        <% @group.users.each do |member| %>
        <%= "#{member.name} |" %>
        <% end %>
      </p>
    </div>

    <div class="col-xs-6">

    <div class="row">
      <div class="col-xs-12">
      <h1>Group message board</h1>
      <div id="messages">
        <% if @group.messages.blank? %>
          Be the first to leave a message
        <% else %>
          <% @group.messages.each do |message| %>
            <%= render 'messages/show', message: message %>
          <% end %>
        <% end %>
      </div>
      <%= render 'messages/form', group: @group, message: @message %>
    </div>

    <div class="col-xs-12">
      <h1>Group playlist</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi debitis quam officia deleniti impedit iure adipisci numquam porro quis sapiente aspernatur saepe nemo, quibusdam, ex, nam! Asperiores pariatur aliquid illum.</p>
    </div>
</div>
    </div>
  </div>
</div>
